/* -----------------------------BEGIN MAIN CSS-----------------------------------------*/
#recruitment {
  padding-top: 75px;
}
/* BOX TITLE */
#recruitment_title_box {
  position: relative;
}
#recruitment_title_box p {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  color: var(--text-color-white);
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
}
#recruitment_title_box img {
  width: 100%;
  vertical-align: middle;
}
/* ----------------------------------------------- */
.recruitment_cm {
  margin: 80px auto;
  width: 1200px;
}

/* -------------------------- */
.recruitment_cm h1 {
  margin: 40px 0 15px 0;
  border-bottom: 3px solid var(--boder-color-33);
  width: fit-content;
}
.recruitment_cm .result-filter {
  margin-bottom: 40px;
}
.result-filter .content_result {
  display: grid;
  row-gap: 50px;
  justify-content: space-between;
}
.item_box .div_img a {
  display: block;
  position: relative;
}
.item_box .div_img a img {
  height: auto !important;
  width: 100%;
  vertical-align: middle;
  padding: 20px 0;
}
.item_box .div_img a .tag_title_center {
  font-size: 13px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  background-color: var(--bg-color-black);
  color: var(--text-color-white);
}

.item_box .div_info {
  padding: 15px;
  border: 1px solid var(--boder-color-d3);
  border-bottom: 2px solid var(--boder-color-da);
}

.recruitment_cm .div_info div p {
  display: grid;
  grid-template-columns: 27% 3% 69%;
  margin-bottom: 5px;
}
.div_info div p:first-child span:last-child {
  color: var(--text-color-da);
}
.div_info .Rm {
  padding: 10px;
  background-color: var(--bg-color-black);
  color: var(--text-color-white);
  margin: 20px 0px 0px;
  display: block;
  width: fit-content;
}

/*recruitment_pagination*/
.recruitment_pagination {
  display: flex;
  justify-content: center;
}
.recruitment_pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid var(--boder-color-ff);
  border-radius: 3px;
  margin: 0 4px;
}
.recruitment_pagination a.active {
  background-color: var(--bg-color-black);
  color: var(--text-color-white);
  border: 1px solid var(--boder-color-33);
}
.recruitment_pagination a:hover:not(.active) {
  background-color: var(--bg-color-white);
}

/*----------------- RESPOSIVE------------------------- */
@media only screen and (min-width: 320px) {
  /* For mobile */
  .recruitment_cm {
    width: 90%;
  }
  .result-filter .content_result {
    grid-template-columns: 100%;
  }
  #recruitment_title_box img {
    height: 200px;
    object-fit: cover;
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .result-filter .content_result {
    grid-template-columns: 48% 48%;
  }
  #recruitment_title_box img {
    height: auto;
  }
}
@media only screen and (min-width: 1200px) {
  /* For desktop: */
  .result-filter .content_result {
    grid-template-columns: 22% 22% 22% 22%;
  }
}
