.bold {
    font-weight: 700;
}
.purple {
    color: #7b49b9;
}
.coral {
    color: #da5c5f;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
input:focus {
    box-shadow: 0 0 5px #9ed4ff;
    border: 1px solid #558ab7;
    outline: none;
}
textarea:focus {
    box-shadow: 0 0 5px #9ed4ff;
    border: 1px solid #558ab7;
    outline: none;
}
input[type="text"] {
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    color: #000;
    vertical-align: middle;
    border-radius: 0px;
    padding: 5px;
    margin-top: 10px;
    height: 40px;
}
.contacts input {
    width: 33.3333%;
}
.contact_input {
    display: flex;
}
.title {
    display: grid;
    align-items: center;
    justify-items: center;
    position: relative;
}

.title img {
    width: 100%;
}

.title p {
    position: absolute;
    top: 40%;
    text-align: center;
    color: #fff;
    font-size: 35px;
}
.content1 {
    margin-top: 60px;
}
.title_content1 {
    display: inline;
    border-bottom: 2px solid #333;
    font-size: 25px;
    margin-bottom: 50px;
}
.body_content1 {
    line-height: 1.6em;
    font-size: 20px;
    margin: 30px 0;
    cursor: default;
}
textarea {
    border: 1px solid #ccc;
    background: #fff;
    color: #000;
    vertical-align: middle;
    border-radius: 0px;
    padding: 5px;
    width: 100%;
    height: 120px;
    -webkit-box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    resize: none;
    margin-top: 10px;
}
.line1,
.line2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin-bottom: 20px;
}
.required:after {
    content: " *";
    color: red;
}
.company_name {
    position: relative;
}
.required {
    position: absolute;
    top: 20%;
}
.com_name_required {
    top: 42%;
    left: 98%;
}
.contact_input1_required {
    left: 31%;
}
.contact_input2_required {
    left: 64%;
}
.contact_input3_required {
    left: 98%;
}
.contact_input {
    position: relative;
}
label {
    margin-bottom: 10px;
    font-size: 16px;
}

.btn_submit {
    display: grid;
    justify-content: center;
}
.btn_complete {
    background: #041d79;
    width: 320px;
    height: 50px;
    line-height: 50px;
    color: white;
    cursor: pointer;
}
.span {
    border: 1px solid black;
    cursor: pointer;
}
.span_content {
    display: none;
}
#checkbox:checked ~ .span_content {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 525px;
    margin-top: -250px;
    margin-left: -300px;
    z-index: 99999;
    box-shadow: 2px 5px 5px 2px rgb(0 0 0 / 50%);
    background: #fff;
}
.title_check {
    height: 50px;
    line-height: 50px;
    background: #fff;
    color: #b78bff;
    text-align: center;
    font-size: 20px;
    position: relative;
}
.content_check {
    width: 100%;
    height: 470px;
    border: none;
    resize: none;
    padding: 15px;
    background: #fff;
    font-size: 1em;
    line-height: 14px;
}
.close {
    position: absolute;
    top: -10%;
    right: 3%;
    color: black;
}
.write_agree {
    display: grid;
    justify-items: center;
    margin: 20px 0;
}
/* Reponsive */
@media screen and (max-width: 600px) {
    .header__menu-nav {
        display: none;
    }
    .header__menu {
        display: grid;
        grid-template-columns: 80% 20%;
    }
    .mess {
        display: none;
    }
    .topheader {
        display: none;
    }
    .requitment .requitment__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .container__curricul .curricul .curricul__list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
    img {
        width: 10%;
    }
    .nav__menu-link {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 94%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 900px) {
    .header__menu-nav {
        display: none;
    }
    .header__menu {
        display: grid;
        grid-template-columns: 80% 20%;
    }
    .requitment .requitment__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .container__curricul .curricul .curricul__list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
    img {
        width: 80%;
    }
    .nav__menu-link {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 94%;
        margin: 0 auto;
    }
}
/* End Reponsive */
@media only screen and (max-width: 600px) and (min-width: 360px) {
    .title {
        overflow: hidden;
    }
    .title img {
        height: 200px;
        width: auto;
    }
    .title p {
        font-size: 25px;
    }
    .line1,
    .line2 {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    #checkbox:checked ~ .span_content {
        width: 90%;
        margin-left: -45%;
        height: 300px;
        margin-top: -150px;
        overflow: hidden;
    }
    .title_content1 {
        font-size: 20px;
    }
    .body_content1 {
        font-size: 16px;
    }
    .com_name_required {
        left: 97%;
    }
    .contact_input1_required {
        left: 30%;
    }
    .contact_input2_required {
        left: 62%;
    }
    .contact_input3_required {
        left: 96%;
    }
    label[for="check"] {
        font-size: 12px;
    }
    .span {
        padding: 5px 15px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 360px) {
    .container {
        max-width: 324px;
    }
}
@media only screen and (max-width: 375px) and (min-width: 361px) {
    .container {
        max-width: 337.5px;
    }
}
@media only screen and (max-width: 414px) and (min-width: 376px) {
    .container {
        max-width: 372.6px;
    }
}
@media only screen and (max-width: 480px) and (min-width: 415px) {
    .container {
        max-width: 432px;
    }
}
@media only screen and (max-width: 600px) and (min-width: 481px) {
    .container {
        max-width: 540px;
    }
}
@media only screen and (max-width: 768px) and (min-width: 601px) {
    .container {
        max-width: 691.2px;
    }
    .contact_input1_required {
        left: 30%;
    }
    .contact_input2_required {
        left: 62%;
    }
    .contact_input3_required {
        left: 96%;
    }
    .com_name_required {
        left: 97%;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .container {
        max-width: 921.6px;
    }
}

/* capthcha */
.captcha__content {
    display: flex;
    margin-top: 10px;
}
#mainCaptcha {
    border: 1px solid black;
    box-sizing: border-box;
    padding: 0 10px;
    line-height: 50px;
    font-size: 30px;
    margin-right: 5px;
}
#refresh {
    background-color: brown;
    width: 5%;
    cursor: pointer;
}
#txtInput {
    width: 10%;
    height: 51px;
    margin-top: 0;
    margin-right: 5px;
}
#checkcap {
    width: 5%;
    margin-right: 5px;
    cursor: pointer;
}
.captcha__warning {
    margin-top: 5px;
}
/* end capthcha */
