:root {
  --text-color-black: #333;
  --text-color-white: #fff;
  --text-color-da: #da5c5f;
  --text-color-ac: #acacac;
  --bg-color-red: #da5c5f;
  --bg-color-f5: #f5f5f5;
  --bg-color-white: #fff;
  --bg-color-black: #333;
  --boder-color-d3: #d3d3d3;
  --boder-color-33: #333;
  --boder-color-ff: #fff;
}

li,
ul {
  list-style: none;
}
a {
  color: var(--text-color-black);
  text-decoration: none;
}
.pc-layout {
  margin: 0 auto;
  width: 1200px;
}
.font25 {
  font-size: 25px;
}
.font20 {
  font-size: 20px;
}
.font16 {
  font-size: 16px;
}
.font13 {
  font-size: 13px;
}
.bold {
  font-weight: 700;
}
.mr_bt_10 {
  margin-bottom: 10px;
}
.mr_bt_15 {
  margin-bottom: 15px;
}
/* -------------------------END RESET AND DEFAUT VALUE CSS---------------------- */
/* -----------------------------BEGIN MAIN CSS-----------------------------------------*/

#wapper {
  padding-top: 75px;
}
/* BOX TITLE */
#container_title_box {
  position: relative;
}
#container_title_box p {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  color: var(--text-color-white);
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
}
#container_title_box img {
  width: 100%;
  vertical-align: middle;
}

/* NAV FILETER */
.container_cm {
  margin: 80px auto;
  width: 1200px;
}
.container_nav_filter div p {
  padding-bottom: 10px;
}
.container_nav_filter div ul {
  padding: 11px 10px 11px 0;
}
.container_nav_filter div ul li {
  display: inline-block;
  margin: 0 5px 5px 0;
}
.container_nav_filter div ul li a {
  width: fit-content;
  height: 100%;
  padding: 10px;
  border: 1px solid var(--boder-color-33);
  border-radius: 3px;
  display: block;
}
.container_nav_filter div ul li a.active {
  background-color: var(--bg-color-black);
  color: var(--text-color-white);
}
.container_nav_filter div ul li a:hover {
  background-color: var(--bg-color-black);
  color: var(--text-color-white);
}

.container_nav_filter .nav_filter_center {
  margin: 25px auto 0;
  width: 80%;
  color: var(--text-color-black);
}

/* RESULT FILTER */
.container_cm h1 {
  margin: 40px 0 15px 0;
  border-bottom: 3px solid var(--boder-color-33);
  width: fit-content;
}
.container_cm .result_filter {
  margin-bottom: 40px;
}
.result_filter .bar_search {
  text-align: end;
}
.result_filter .bar_search button {
  background-color: var(--bg-color-white);
  border: none;
  color: var(--boder-color-d3);
}
.result_filter .bar_search button:focus {
  outline: none;
}
.result_filter .bar_search button:hover {
  color: var(--text-color-black);
}
.result_filter .content_result .preparing {
  text-align: center;
}
/* .result_filter .content_result {
  display: grid;
  row-gap: 50px;
  justify-content: space-between;
}

.item_box .div_img a {
  display: block;
  position: relative;
}
.item_box .div_img a img {
  height: auto !important;
  width: 100%;
  vertical-align: middle;
}


.item_box .div_info {
  padding: 15px;
  border: 1px solid var(--boder-color-d3);
}
.div_info .info_title a {
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-bottom: 0.8rem;
  word-break: keep-all;
}
 .div_info .info_disc p{
     color: var(--text-color-ac);
 }
 .div_info .info_disc p:first-child{
      height: 54px;
      overflow: hidden;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      white-space: normal;
      margin-bottom: 0.8rem;
      word-break: keep-all;
      display: -webkit-box !important;
 }
 .div_info .info_disc p:nth-child(2) span{
     margin-left: 2px;
 }
 .div_info .info_disc p:nth-child(2) span:first-child{
     color: var(--text-color-black);
 }

.div_info .Rm {
  padding: 10px;
  background-color: var(--bg-color-black);
  color: var(--text-color-white);
  margin: 20px 0px 0px;
  display: block;
  width: fit-content;
} */
/*PAGINATION*/
/* .pagination {
  display: flex;
  justify-content: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid var(--boder-color-ff);
  border-radius: 3px;
  margin: 0 4px;
}
.pagination a.active {
  background-color: var(--bg-color-black);
  color: var(--text-color-white);
  border: 1px solid var(--boder-color-33);
}
.pagination a:hover:not(.active) {
  background-color: var(--bg-color-white);
} */

/* MODAL SEARCH */
.modal_search_wrap {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal_search_wrap fieldset {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid var(--boder-color-d3);
  border-radius: 3px;
  width: 30%;
}

.modal_search_wrap fieldset .title_search {
  overflow: hidden;
  border-bottom: 1px solid var(--boder-color-d3);
  padding: 0 0 10px 0;
  margin-bottom: 10px;
}
.modal_search_wrap fieldset .title_search h4 {
  float: left;
}
.modal_search_wrap fieldset .title_search button {
  float: right;
  background-color: var(--bg-color-white);
  border: none;
  color: #b5b8bb;
  cursor: pointer;
}
.modal_search_wrap fieldset .title_search button:focus {
  outline: none;
}
.modal_search_wrap fieldset .form_search select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-color: var(--boder-color-d3);
}
.modal_search_wrap fieldset .form_search ._input {
  width: 100%;
  padding: 8px;
  position: relative;
  border: 1px solid var(--boder-color-d3);
  border-radius: 1px;
}
.modal_search_wrap fieldset .form_search ._input input {
  border: none;
  width: 90%;
  padding: 4px;
}
.modal_search_wrap fieldset .form_search ._input input:focus {
  outline: none;
}
.modal_search_wrap fieldset .form_search ._input button {
  border: none;
  background-color: var(--bg-color-white);
  color: var(--text-color-ac);
  cursor: pointer;
}

/*----------------- RESPOSIVE------------------------- */
@media only screen and (min-width: 320px) {
  /* For mobile */
  .container_cm {
    width: 90%;
  }
  /* .result_filter .content_result {
    grid-template-columns: 100%;
  } */
}

@media only screen and (min-width: 600px) {
  /* For tablets: */

  /* .result_filter .content_result {
    grid-template-columns: 48% 48%;
  } */
}
@media only screen and (min-width: 1200px) {
  /* For desktop: */
  /* .result_filter .content_result {
    grid-template-columns: 31.6% 31.6% 31.6%;
  } */
}
